---
layout: default
title: News
description: News from the NBC lab
group: navigation
navorder: 6
category: news
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="title text-center">News from the Lab</div>
<div class="smallspacer"></div>
<hr/>

<p>
Please find our lab updates and news below.
</p>

<hr/>

<hr/>

{% for post in site.categories.news limit: 4 %}

	<div class="bigspacer"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="head">
				<a href="{{ post.url }}" class="off">{{ post.title }}</a>
			</div>
			<div class="smallnote">
				{{ post.date | date_to_string }}
			</div>
			{% if post.image %}
			  <div class="bigspacer"></div>
				<img class="offset" src="{{ post.image }}" style="width:225px">
			{% endif %}
		</div>
		<div class="col-md-8">
			<div style="height:5px;"></div>
			<div class="post">
				{{ post.content }}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
<hr>

{% endfor %}



<div class="bigspacer"></div>
